<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a514b532-d083-4ed8-b3fa-f64f19dcb947/resourcegroups/LaunakerfiRestService20190309073512ResourceGroup/providers/Microsoft.Web/sites/LaunakerfiRestService20190310080633</ResourceId>
    <ResourceGroup>LaunakerfiRestService20190309073512ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://launakerfirestservice20190310080633.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>launakerfirestservice20190310080633.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LaunakerfiRestService20190310080633</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LaunakerfiRestService20190310080633</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:restfulservice20190310053731dbserver.database.windows.net,1433;Initial Catalog=LaunakerfiRestService20190310080633_db;User ID=Admin123@restfulservice20190310053731dbserver;Password=Password12" Name="Data Source=tcp:restfulservice20190310053731dbserver.database.windows.net,1433;Initial Catalog=LaunakerfiRestService20190310080633_db;User Id=Admin123@restfulservice20190310053731dbserver;Password=Password12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LaunakerfiRestService.Models.SalarySystemDBContext, LaunakerfiRestService" MigrationConfiguration="LaunakerfiRestService.Migrations.Configuration, LaunakerfiRestService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:restfulservice20190310053731dbserver.database.windows.net,1433;Initial Catalog=LaunakerfiRestService20190310080633_db;User Id=Admin123@restfulservice20190310053731dbserver;Password=Password12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>